# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Ll]ogs/

# Rider
.idea/
*.sln.iml

# Resharper
_ReSharper*/
*.DotSettings.user

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.log
*.tmp
*.bak

# OS files
Thumbs.db
.DS_Store